Descriptive Statistics - Measures of Central Tendency and variability
Perform the following operations on any open source dataset (e.g., data.csv)

2. Write a Python program to display some basic statistical details like percentile, 
mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and
‘Iris- versicolor’ of iris.csv dataset.
Provide the codes with outputs and explain everything that you do in this step

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [2]:
df = pd.read_csv("iris.csv")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# 1.Mean

In [24]:
df.select_dtypes(include=['float64', 'int64']).mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [5]:
df.loc[:,'sepal_length'].mean()

5.843333333333335

In [25]:
df.select_dtypes(include=['float64', 'int64']).mean(axis=1)[0:4]

0    2.550
1    2.375
2    2.350
3    2.350
dtype: float64

# 2.Median

In [26]:
df.select_dtypes(include=['float64', 'int64']).median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [8]:
df.loc[:,'sepal_width'].median()

3.0

In [27]:
df.select_dtypes(include=['float64', 'int64']).median(axis=1)[0:5]

0    2.45
1    2.20
2    2.25
3    2.30
4    2.50
dtype: float64

# 3.Mode

In [10]:
df.mode()

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.0          3.0           1.5          0.2      setosa
1           NaN          NaN           NaN          NaN  versicolor
2           NaN          NaN           NaN          NaN   virginica

In [11]:
df.loc[:,'petal_length'].mode()

0    1.5
Name: petal_length, dtype: float64

# 1.Minimum

In [12]:
df.min()

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [13]:
df.loc[:,'petal_width'].min(skipna = False)

0.1

# 2.Maximum

In [14]:
df.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [32]:
df.loc[:,'petal_width'].max(skipna = False)

2.5


# 3. Standard Deviation

In [28]:
df.select_dtypes(include=['float64', 'int64']).std()

sepal_length    0.828066
sepal_width     0.433594
petal_length    1.764420
petal_width     0.763161
dtype: float64

In [17]:
df.loc[:,'sepal_width'].std()

0.4335943113621737

In [29]:
df.select_dtypes(include=['float64', 'int64']).std(axis=1)[0:4]

0    2.179449
1    2.036950
2    1.997498
3    1.912241
dtype: float64

# Grouped by

In [19]:
df.groupby(['species'])['sepal_width'].mean()

species
setosa        3.418
versicolor    2.770
virginica     2.974
Name: sepal_width, dtype: float64

In [20]:
df_u=df.rename(columns= {'Petal Width$)':'petal_width'},inplace=False)
(df_u.groupby(['species']).sepal_width.mean())

species
setosa        3.418
versicolor    2.770
virginica     2.974
Name: sepal_width, dtype: float64

In [35]:
enc = preprocessing.OneHotEncoder()
enc_df = pd.DataFrame(enc.fit_transform(df[['sepal_width']]).toarray())
enc_df.head(6)

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [42]:
from sklearn import preprocessing
enc = preprocessing.LabelEncoder()
df['sepal_width']= enc.fit_transform(df['sepal_width'])
dfl=df
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1           14           1.4          0.2     setosa
1             4.9            9           1.4          0.2     setosa
2             4.7           11           1.3          0.2     setosa
3             4.6           10           1.5          0.2     setosa
4             5.0           15           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7            9           5.2          2.3  virginica
146           6.3            4           5.0          1.9  virginica
147           6.5            9           5.2          2.0  virginica
148           6.2           13           5.4          2.3  virginica
149           5.9            9           5.1          1.8  virginica

[150 rows x 5 columns]

In [43]:
df_encode =df_u.join(enc_df)
df_encode.head(5)

,sepal_length,sepal_width,petal_length,petal_width,species,0,1,2,3,4,...,13,14,15,16,17,18,19,20,21,22
0,5.1,3.5,1.4,0.2,setosa,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.9,3.0,1.4,0.2,setosa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.7,3.2,1.3,0.2,setosa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.6,3.1,1.5,0.2,setosa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5.0,3.6,1.4,0.2,setosa,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']
iris = pd.read_csv(csv_url, names = col_names)
irisSet = (iris['Species']== 'Iris-setosa')
print('Iris-setosa')
print(iris[irisSet].describe())
irisVer = (iris['Species']== 'Iris-versicolor')
print('Iris-versicolor')
print(iris[irisVer].describe())
irisVir = (iris['Species']== 'Iris-virginica')
print('Iris-virginica')
print(iris[irisVir].describe())

Iris-setosa
       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000
Iris-versicolor
       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000
Iris-virginica
       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000